@import url('base/reset.css');
@import url('base/variables.css');

@import url('mobile/mobile.css');
@import url('desktop/desktop.css');

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

body {
    display: flex;
    flex-direction: column;

    font-family: 'Hanken Grotesk', sans-serif;
}

.hidden {
  display: none;
}