:root {
    --clr-neutral-900: hsl(227, 75%, 14%);
    --clr-neutral-800: hsl(226, 25%, 17%);
    --clr-neutral-700: hsl(225, 23%, 24%);
    --clr-neutral-600: hsl(226, 11%, 37%);
    --clr-neutral-300: hsl(0, 0%, 78%);
    --clr-neutral-200: hsl(217, 61%, 90%);
    --clr-neutral-100: hsl(0, 0%, 93%);
    --clr-neutral-0: hsl(200, 60%, 99%);

    --clr-red-400: hsl(3, 86%, 64%);
    --clr-red-500: hsl(3, 71%, 56%);
    --clr-red-700: hsl(3, 77%, 44%);

    --clr-light-0: #EBF2FC 0%;
    --clr-light-100: #EEF8F9 100%;

    --clr-dark-0: #040918 0%;
    --clr-dark-100: #091540 100%;
}

html.theme-dark {
    --bg-page-gradient-start: var(--clr-dark-0);
    --bg-page-gradient-end: var(--clr-dark-100);
    --bg-header: var(--clr-neutral-800);
    --bg-theme-switcher-button: var(--clr-neutral-700);
    --bg-button-filter: var(--clr-neutral-700);
    --bg-button-filter-active: var(--clr-red-400);
    --bg-button-delete-yes: var(--clr-red-400);
    --bg-button-delete-no: var(--clr-neutral-700);
    --bg-extension-element: var(--clr-neutral-800);
    --bg-button-remove: var(--clr-neutral-800);
    --bg-switcher: var(--clr-red-400);
    --bg-circle: var(--clr-neutral-100);
    --bg-switcher-start: var(--clr-neutral-600);
    
    --hover-bg-theme-switcher-button: var(--clr-neutral-600);
    --hover-bg-button-filter: var(--clr-neutral-600);
    --hover-bg-button-filter-active: var(--clr-red-500);
    --hover-bg-switcher: var(--clr-red-500);
    --hover-bg-switcher-start: var(--clr-neutral-600);
    --hover-bg-button-remove: var(--clr-red-500);
    --hover-bg-button-yes: var(--clr-red-500);
    --hover-bg-button-no: var(--clr-neutral-600);

    --hover-text-button-remove: var(--clr-neutral-900);
    
    --text-headline: var(--clr-neutral-0);
    --text-button-filter: var(--clr-neutral-300);
    --text-button-filter-active: var(--clr-neutral-800);
    --text-button-delete-yes: var(--clr-neutral-800);
    --text-button-delete-no: var(--clr-neutral-300);
    --text-extension-description: var(--clr-neutral-300);
    --text-button-remove: var(--clr-neutral-100);
    --text-footer: var(--clr-neutral-0);

    --a-footer: var(--clr-red-500);

    --border-filter-button: var(--clr-neutral-600);
    --border-active-filter-button: var(--clr-red-400);
    --border-button-delete-yes: var(--clr-red-400);
    --border-button-delete-no: var(--clr-neutral-600);
    --border-extension-element: var(--clr-neutral-600);
    --border-button-remove: var(--clr-neutral-600);
    --border-header: var(--clr-neutral-600);

    --fv-theme-switcher-button: var(--clr-red-400);
    --fv-bg-button-filter: var(--clr-red-400);
    --fv-button-remove: var(--clr-red-400);
    --fv-switcher: var(--clr-red-400);
    --fv-button-yes: var(--clr-red-400);
    --fv-button-no: var(--clr-red-400);

    --skeleton-base: var(--clr-neutral-800);
    --skeleton-glint: var(--clr-neutral-700);
}

html.theme-light {
    --bg-page-gradient-start: var(--clr-light-0);
    --bg-page-gradient-end: var(--clr-light-100);
    --bg-header: var(--clr-neutral-0);
    --bg-theme-switcher-button: var(--clr-neutral-200);
    --bg-button-filter: var(--clr-neutral-0);
    --bg-button-filter-active: var(--clr-red-700);
    --bg-button-delete-yes: var(--clr-red-700);
    --bg-button-delete-no: var(--clr-neutral-0);
    --bg-extension-element: var(--clr-neutral-0);
    --bg-button-remove: var(--clr-neutral-0);
    --bg-switcher: var(--clr-red-700);
    --bg-circle: var(--clr-neutral-0);
    --bg-switcher-start: var(--clr-neutral-300);

    --hover-bg-theme-switcher-button: var(--clr-neutral-300);
    --hover-bg-button-filter: var(--clr-neutral-100);
    --hover-bg-button-filter-active: var(--clr-red-500);
    --hover-bg-switcher: var(--clr-red-500);
    --hover-bg-switcher-start: var(--clr-neutral-300);
    --hover-bg-button-remove: var(--clr-red-500);
    --hover-bg-button-yes: var(--clr-red-500);
    --hover-bg-button-no: var(--clr-neutral-100);

    --hover-text-button-remove: var(--clr-neutral-0);

    --text-headline: var(--clr-neutral-900);
    --text-button-filter: var(--clr-neutral-900);
    --text-button-filter-active: var(--clr-neutral-0);
    --text-button-delete-yes: var(--clr-neutral-0);
    --text-button-delete-no: var(--clr-neutral-900);
    --text-extension-description: var(--clr-neutral-600);
    --text-button-remove: var(--clr-neutral-900);
    --text-footer: var(--clr-neutral-900);

    --a-footer: var(--clr-red-500);

    --border-filter-button: var(--clr-neutral-200);
    --border-active-filter-button: var(--clr-red-400);
    --border-button-delete-yes: var(--clr-red-500);
    --border-button-delete-no: var(--clr-neutral-200);
    --border-extension-element: var(--clr-neutral-300);
    --border-button-remove: var(--clr-neutral-200);
    --border-header: var(--clr-neutral-300);

    --fv-theme-switcher-button: var(--clr-red-700);
    --fv-bg-button-filter: var(--clr-red-700);
    --fv-button-remove: var(--clr-red-700);
    --fv-switcher: var(--clr-red-700);
    --fv-button-yes: var(--clr-red-700);
    --fv-button-no: var(--clr-red-700);

    --skeleton-base: var(--clr-neutral-0);
    --skeleton-glint: var(--clr-neutral-100);
}