@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

@import url('base/reset.css');
@import url('base/variables.css');

@import url('mobile/mobile.css');
@import url('desktop/desktop.css');

.hidden {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
  top: 0;
  left: 0;
}

button {
  border: none;
  font-family: 'Space Mono', sans-serif;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

fieldset {
  border: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}